* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.Home {
  width: 100%;
}
.Home .top_banner {
  max-width: 100%;
  height: 395px;
  background: url("http://localhost:3000/image/slide-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 60px;
}

.Home .top_banner .contant {
  width: 100%;
  position: relative;
  top: 20%;
  padding: 10px 50px;
}
.Home .top_banner .contant h3 {
  text-transform: capitalize;
  color: #cd1e76;
  font-weight: 300;
  letter-spacing: 1px;
}

.Home .top_banner .contant h2 {
  text-transform: uppercase;
  color: #232323;
  font-size: 42px;
  letter-spacing: 1px;
  margin-top: 10px;
}
.Home .top_banner .contant p {
  color: #232323;
  font-size: 42px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.Home .top_banner .contant .link {
  padding: 10px 30px;
  background: #fed700;
  color: #232323;
  text-decoration: no;
  border-radius: 5px;
  text-decoration-line: none;
}
.Home .top_banner .contant .link:hover {
  color: #fed700;
  background: #cd1e76;
}

.Home .trending {
  padding: 20px 30px;
  width: 100%;
}
.Home .trending .container {
  max-width: 100%;
  display: flex;
}
.Home .trending .container .left_box {
  padding: 10px 20px;
  width: 75%;
}
.Home .trending .container .left_box .header {
  display: flex;
  max-width: 100%;
  padding: 10px 10px;
  background: #f6f7f8;
  justify-content: space-between;
}
.Home .trending .container .left_box .header .heading h2 {
  text-transform: uppercase;
  font-size: 16px;
  color: #232323;
  margin-top: 5px;
}
.Home .trending .container .left_box .header .cate {
  display: flex;
  margin-top: 5px;
}
.Home .trending .container .left_box .header .cate h3 {
  text-transform: capitalize;
  margin-right: 10px;
  color: #232323;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s;
}
.Home .trending .container .left_box .header .cate h3:hover {
  color: #cd1e76;
}
.Home .trending .container .left_box .products {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.Home .trending .container .left_box .products .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.box{
    width: 195px ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 295px;
    padding: 10px ;
    border: 4px solid #f6f7f8;
    margin-top: 20px ;
    margin-left: 20px;
    overflow: hidden;
    border-radius: 5px ;
    
}

 
.box .img_box img{
    width: 190px;
    height: 190px;
    object-fit: cover;
}
.box .img_box img .icon{
    display: flex;
    flex-direction: column;
    margin-left: -35%;
    margin-top: 10px;
    transition: 0.5s;
    z-index: 1;
    
}
.box .img_box img .icon .iconbox{
    padding: 10px 10px;
    margin-top: 10px;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px ;
    background: #fff;
    transition: 0.5s;
    color: #cd1e76;
    
}
.box .info{
    padding: 10px 10px ;
    margin-left: 10px ;
}
.box .info h3{
    text-transform: uppercase;
    font-size: 14px ;
    color: #232323;
    font-weight: 300;
    letter-spacing: 1px ;
}
.box .info p{
    color: #cd1e76;
    margin-top: 5px ;
    font-size: 14px ;
    letter-spacing: 1px ;
}
.box .info button{
    margin-top: 10px ;
    align-items: center;
    padding: 5px 20px ;
    margin-left: 20px ;
    border: none;
    background: none;
    outline: none;
    background: #fed700;
    color: #232323;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
}
.box .info button:hover{
    background: #cd1e76;
    color: #f6f7f8;

}

.Home .trending .container .right_box{
    padding: 10px 20px ;
    width: 24%;
    
}
.Home .trending .container .right_box .conatiner{
    max-width: 100%;
}
.Home .trending .container .right_box .conatiner .testiomoial{
     width: 100%;
     border: 4px solid #f6f7f8;
}
.Home .trending .container .right_box .conatiner .testiomoial .head{
    padding: 10px 10px ;
    width: 100%;
    background-color: #f6f7f8;
}
.Home .trending .container .right_box .conatiner .testiomoial .head h3{
    text-align: center;
    color: #232323;
    font-size: 16px ;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 1px;
}
.Home .trending .container .right_box .conatiner .testiomoial .detail{
    padding: 10px 20px ;
}
.Home .trending .container .right_box .conatiner .testiomoial .detail .imgbox img{
    margin-left: 50px;
}
.Home .trending .container .right_box .conatiner .testiomoial .detail .info{
    margin-top: 10px ;
}
.Home .trending .container .right_box .conatiner .testiomoial .detail .info h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #232323;
}
.Home .trending .container .right_box .conatiner .testiomoial .detail .info h4{
    text-align: center;
     margin-top: 10px ;
    font-size: 12px;
    color: #cd1e76;
    font-weight: 300;
    text-transform: uppercase;
}
.Home .trending .container .right_box .conatiner .testiomoial .detail .info p{
    text-align: center;
    margin-top: 10px ;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    color: #232323;
}

.newsletter {
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .newsletter h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #232323;
  }
  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 35px;
  }
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  .social-icons li:last-child {
    margin-right: 0;
  }
  .search-box {
    margin-top: 20px;
    text-align: center;
  }
  .search-box input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  .search-box button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }


.Home .bottom_banner {
    padding: 20px 30px;
    width: 100%;
}
.Home .bottom_banner .containerbanner {
    max-width: 100%;
    display: flex;
}
.Home .bottom_banner .containerbanner .leftbox {
    width: 24%;
}
.Home .bottom_banner .containerbanner .leftbox .boxbanner{
    margin-top: 10px;
}
.Home .bottom_banner .containerbanner .rightboxx{
     width: 75%;
}
.Home .bottom_banner .containerbanner .rightboxx .top{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px ;
}
.Home .bottom_banner .containerbanner .rightboxx .bottom{
    max-width: 100%;
    margin-top: 10px ;
}
.Home .bottom_banner .containerbanner .rightboxx .bottom img{
 width: 100%;
 object-fit: cover;
}

.New-product{
  padding: 20px 30px ;
  width: 100%;
}

.New-product .New-productcontiner{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.New-product .New-productcontiner .New-productbox{
 width: 360px;
 height: 490px;
 border: 2px solid #f6f7f8;
 padding: 10px 10px ;
 overflow: hidden;
}

.New-product .New-productcontiner .New-productbox .New-productheader{
  width: 100%;
  height: 50px;
  background: #f6f6f6;
  padding: 10px 10px ;
   
}

.New-product .New-productcontiner .New-productbox .New-productheader h2{
  color: #232323;
  font-size: 16px ;
  text-transform: uppercase;
  font-weight: 600;
}

.boxnewproduct{
  padding: 10px 10px ;
  width: 100%;
  height: 110px ;
  border: 1px solid #f6f7f8;
  display: flex;

}

.boxnewproduct .imgbox img{
  width: 100px ;
  height: 100px;
  object-fit: cover;
}

.boxnewproduct .detail{
  margin-left: 30px ;
}
.boxnewproduct .detail h3{
  font-size: 14px;
  color: #8a8a8a;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.boxnewproduct .detail p{
  margin-top: 5px ;
  font-size: 14px;
  color: #cd1e76;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.boxnewproduct .detail .icon{
  margin-top: 10px ;
  display: flex;
}

.boxnewproduct .detail .icon button{
background: none;
outline: none;
border: none;
padding: 10px 10px ;
border: 2px solid #f6f7f8;
margin-left: 10px;
border-radius: 50%;
color: #8a8a8a;
cursor: pointer;
transition: 0.5s;
}


.boxnewproduct .detail .icon button:hover{
  background: #f6f6f6;
  color: #232323;
}






